.container {
    display: flex;
    justify-content: space-between;

    border: solid 1px lightgrey;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 2px lightgrey;
    height: 10rem;
    width: 80rem;
    margin: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}

.logo {

}

.headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {

}

.company {

}

.salary {

}

.location {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

.actions {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.apply {

}